#mainTable {
  width: 100%;
  border-collapse: collapse;
}
#mainTable th, #mainTable td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
}
#mainTable th {
  background-color: #f2f2f2;
}
#mainTable td {
  background-color: #fafafa;
  word-break: break-word;
  white-space: normal;
  line-height: 1.4;
}
#mainTable .button-only {
  padding: 0px;
}

.mainTable-tbody.hide {
  display: none;
}

.tr-kyotaku-tsumibo {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.td-tentative-game-point div,
.td-tentative-total-point div {
  display: inline-flex;
  /* align-items: center; */
  align-items: baseline;
  gap: .2em;
}

.td-tentative-game-point div .rank {
  margin-left: clamp(0em, .8em, .8em);
  /* font-weight: bold; */
}

.td-tentative-game-point div .point {
  text-align: right;
  margin-left: clamp(.2em, 3vw, 4em);
}

.td-tentative-total-point div .point {
  text-align: right;
}

.td-tentative-game-point div .unit,
.td-tentative-total-point div .unit {
  opacity: .9;
  font-size: .8em;
}
